.map_block{
	height:500px;
}
.sec-12 img {
    width: 100%;
    height: 180px;
}
button.remove-image {
    display: contents;
    background: red !important;
}
.remove-image span {
    font-size: 16px;
    color: red;
    font-weight: 500;
}
.modal {
    background-color:#0000008c !important;
}