
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F5F5F5;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #F5F5F5;
}

/* Style the tab content */
.tabcontent {
    float: left;
    border-left: 1px solid #DBDBDB !important;
    width: 68%;
    height: 100vh;
    padding: 50px 60px 40px 60px;
    background-color: #F5F5F5;
    border-radius: 0px 16px 16px 0px !important;
}

.tab button {
    font-size: 14px;
    padding: 20px 20px 15px 20px;
    border-radius: 16px;
}

.tab {
    float: left;
    border: none;
    background-color: #ffffff;
    width: 32%;
    border-radius: 16px 0px 0px 16px;
    padding: 25px 23px 25px 23px;
    height: 100vh !important;

}

.btn-text, .inner-btn-text {
    font-size: 14px;
    font-weight: 400;
}

/*.main_content .main_content_iner {
    
    padding: 0px;
    border-radius: 16px;
}*/

.inner-btn-heading {
    font-weight: 700;
    font-size: 24px;
}
.logo-head {
    font-size: 18px;
}

.file {
  visibility: hidden;
  position: absolute;
}

.img-thumbnail {
    height: 100px;
    width: 100%;
}

input#file {
    display: none;
}

button.browse.btn.btn-primary {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2E2E2E;
    border-radius: 12px;
    padding: 10px 14px 10px 14px;
    background: #FFFFFF;
    border: 1px solid #A098AE;
    box-sizing: border-box;
    border-radius: 8px;
}

form#image-form {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.input-group{
    display: table-cell;
    vertical-align: middle;
}

.profile-main-section {
    padding: 0px 30px;
}

.profile-form {
    width: 100% !important;
    padding: 0px 0px 0px 20px;
}

.input-form label {
    font-size: 18px;
    color: #A098AE;
}

.input-form input{
    border: 1px solid #A098AE;
    border-radius: 8px;
    background: #f5f5f5;
    color: #A098AE;
    font-size: 16px;
    width: 95%;
}
.input-form input:active, .input-form input:focus{
    background: #f5f5f5;
    border: 1px solid #A098AE;
    color: #A098AE;
}

.sav-button input {
    float: right;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 16px;
    color: #FFFFFF;
    border: 0px;
}

.security-section {
	max-width: 100%;
    width: 65%;
    margin: 0 auto;
}

.password-form input[type="password"] {
    color: #000;
    font-size: 20px;
}

.password-form .form-control:focus {
    border: 1px solid #A098AE;
    box-sizing: border-box;
    border-radius: 8px;
    background: transparent;
    color: #2E2E2E;
    font-weight: bold;
    line-height: 29px;
}

.tab-head {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
}


/*----------------------------------------   Profile Page Styling END    -------------------------------------------------------*/



/*----------------------------------------   ORDER Page Styling STARTS    -------------------------------------------------------*/


.order-cont {
    padding: 0px !important;
}
.nav-item-custom li a {
    padding: 10px;
    text-align: center;
    border: 0px !important;
    border-radius: 0px !important;
    color: #A098AE;
}
.nav-item-custom li a:hover {
    color: #fff !important;
    background-color: #F8B602 !important;
}

.nav-item-custom li a.active{
    color: #fff !important;
    background-color: #F8B602 !important;
}


.messages_box_area .messages_list ul{
	margin-top: 0px !important;
}

.nav-item-custom {
    background-color: #F5F5F5 !important;
    border-radius: 8px 8px 8px 8px;
    border: none !important
}
.nav-item-custom li{
    width: 33.33%;
}

.inner-order-head {
    font-weight: 700 !important;
    font-size: 24px !important;
}
.messages_box_area .messages_list ul li:hover a {
     padding-left: 0px; 
     padding-right: 0px; 
}

.order-cell {
    border: 1px solid #dbdbdb;
    border-radius: 16px;
    padding: 20px 30px;
    margin-bottom: 15px;
}

.order-cell:hover {
    border: 1px solid #F8B602;
    background-color: rgba(248, 182, 2, 0.1);
}

.order-cell:active {
    border: 1px solid #F8B602;
    background-color: rgba(248, 182, 2, 0.1);
}

.order-date {
    font-size: 14px;
}

.order-name {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.price-symbol {
    font-size: 18px;
    text-align: right;
}

.order-price-col, .right-arrow-col {
    display: flex !important;
    align-items: center !important;
}

.right-arrow {
    background: #F5F5F5;
    border-radius: 8px;
    padding: 8px 15px;
    color: #A098AE !important;
    font-size: 22px;
}
.message-box-main
{
    padding: 30px 20px 30px 30px;
}
.white-box-head {
    padding-right: 20px;
}
.messages_box_area {
    grid-template-columns: 4fr 7fr;
}
.order-tab {
    height: 670px;
    overflow: auto;
    padding-right: 15px;
}
.order-tab::-webkit-scrollbar {
    background: #F5F5F5;
    width: 5px;
}

.order-tab::-webkit-scrollbar-thumb {
    background: #DBDBDB;
}

.order-cell:hover .right-arrow {
    background: #F8B602 !important;
    border-radius: 8px !important;
    color: white !important;
}

.order-detail-section {
    border: 1px solid #DBDBDB;
    border-radius: 16px;
    padding: 30px;
}

.placeholder-images {
    width: 100%;
    border-radius: 16px;
}

.hr-order {
    border-color: #DBDBDB;
}

.order-address {
    font-size: 14px;
}
.location-icon {
    font-weight: 700;
    font-size: 18px;
    color: #2E2E2E;
}
.order-description {
    font-size: 14px;
}
.order-time-est {
    font-size: 14px;
}
.order-time {
    font-weight: 700;
    font-size: 14px;
    color: #2E2E2E;
}

.location-pin {
    padding-right: 10px;
    color: #F8B602;
}

.horirow {
    margin-top: 30px;
    margin-bottom: 30px;
}
.total-price {
    font-weight: 700;
    font-size: 18px;
    float: right;
}

.rejectorder, .acceptorder, .printorder {
    float: right;
}

.btn.acceptorder {
    padding: 16px 24px;
    background: #F8B602;
    border-radius: 16px;
    color: #fff !important;
}

.rejectorder {
    border: 1px solid #EB5757;
    border-radius: 16px;
    font-size: 18px;
    color: #EB5757;
    padding: 14px 30px;
}

.acceptorder {
    padding: 14px 45px;
    border-radius: 16px;
    font-size: 18px;
    color: #fff !important;
}
.printorder {
    padding: 14px 37px;
    border-radius: 16px;
    font-size: 18px;
    color: #fff !important;
}

.rec-rev h2 {
    font-weight: 700;
    font-size: 24px;
}

.serach_field-area .search_inner input::placeholder {
    color: #A098AE;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #A098AE;
}

.serach_field-area {
    width: 100% !important;
    display: block !important;
}

.serach_field-area .search_inner button i {
    font-size: 20px;
    color: #F8B602;
}
i.fas.fa-search {
    display: flex;
    align-items: center;
}
.search_inner input {
    background: #fff !important;
    border-radius: 16px !important;
    height: 55px !important;
    padding: 10px 50px 10px 50px;
    color:black !important;
    font-size: 16px !important;
}



/*-------------------------------------   ORDER Page Styling END    -----------------------------------------------*/






/*-------------------------------------   Review Page Styling STARTS    --------------------------------------------*/




.positive-review, .negative-review {
    padding: 30px;
    background-color: #fff;
    border-radius: 16px;
}

.pos-head {
    font-weight: 700;
    font-size: 22px;
}
.pos-date {
    font-size: 18px;
}
.pos-month {
    font-size: 18px;
    font-weight: 400;
}

.pos-rating {
    font-weight: 700;
    font-size: 36px;
    padding-top: 5px;
}
.pos-rating span {
    font-size: 14px;
    color: #A098AE;
    padding-left: 10px;
    font-weight: 400;
}
.pos-icon {
    font-weight: 500;
    font-size: 18px;
    color: #A6C44A;
}
.pos-icon i {
    font-size: 20px;
}



.order-det {
    background: #fff;
    margin-top: 30px;
    padding: 30px 45px;
    border-radius: 16px;
}

.order-img {
    border-radius: 16px;
}

.hori-row {
    width: 100%;
}

.fa-star {
    color: #F8B602;
 /*   width: 20px;*/
}

.order-des {
    font-size: 14px;
}

.order-date-1 {
    font-size: 14px;
    color: #2E2E2E;
    font-weight: 400;
}
.Paginate {
    float: right;
}

.pagination {
    padding-top: 30px;
}
.left-arrow, .rigt-arrow {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: #A098AE;
    padding: 12px 20px;
    border-radius: 16px !important;
}
.left-arrow:hover, .rigt-arrow:hover {
    color: #fff;
    background-color: #F8B602;
    border-color: transparent;
    padding: 12px 20px;
    border-radius: 16px !important;
}


.page-link-nav {
    background-color: rgba(248, 182, 2, 0.1) !important;
}

.page-link-nav:hover {
    color: #fff !important;
    background: #F8B602 !important;
    border-radius: 16px !important;
    padding: 12px 20px;
    border-color: #F8B602;
}
.page-item {
    padding: 5px;
    display: flex;
}




.page-link-nav {
    position: relative;
    margin-left: 0px;
    background-color: #fff;
    border-radius: 16px;
    padding: 12px 20px;
    align-items: center;
    border: none;
    display: unset;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F8B602;
}

.page-shows p{
    font-size: 14px;
}
.page-shows-col, .page-shows.nav {
    display: flex;
    align-items: center;
}
.pos-icon-neg {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #EB5757;
}
i.fas.fa-arrow-circle-down {
    font-size: 22px;
    padding-right: 5px;
}

.grid {
    display: flex;
    align-items: center;
}
.layout-grid {
    align-items: center;
}
.list-btn {
    float: right;
    background: #ffffff;
    border-radius: 16px;
    padding: 20px 20px 20px 20px;
    border: 0px;
}

/*.fa-th-large {
    display: grid !important;
    align-items: center !important;
}*/


/*.list-btn {
    display: grid !important;
    align-items: center !important;
}*/

/*.list-btn i {
    color: #A098AE;
    font-size: 20px;
}*/
.btn.list-btn:hover {
    background: rgba(248, 182, 2, 0.1);
    border-radius: 16px;
}
.btn.list-btn:hover i {
    color: #F8B602;
    
}
.page-item .active {
    color: #fff !important;
    background: #F8B602 !important;
    border-radius: 16px !important;
    padding: 12px 20px;
    border-color: #F8B602;
}





/*-------------------------------------   Review Page Styling END    -----------------------------------------------*/



/*---------------------------------------- TABLET RESPONSIVE STARTS -------------------------------------------------*/

@media screen and (max-width:1100px) and (min-width:768px) {


/*-------------------------------------   Review Page Mobile Styling Starts    -----------------------------------------------*/

.pos-head {
    font-size: 20px;
}

.pos-date {
    font-size: 14px;
}

.pos-month {
    font-size: 16px;
}
.pos-rating {
    font-size: 25px;
}
.order-des {
    font-size: 15px;
}
.order-date-1 {
    font-size: 15px;
}

/*-------------------------------------   Review Page Mobile Styling END    -----------------------------------------------*/

/*-------------------------------------   Profile Page Mobile Styling Start    ------------------------------------------- */

.password-form {
    padding-left: 60px;
    padding-right: 60px;
}

.sav-button {
    padding-top: 60px;
}
form.profile-form {
    padding-top: 25px;
}



/*--------------------------   Profile Page Mobile Styling Start    ----------------------------------- */


}

/*---------------------------------------- TABLET RESPONSIVE END -------------------------------------------------*/















/*----------------------------------------   MOBILE RESPONSIVE STARTS  ------------------------------------------------*/




/*--------------------   Profile Page Responsive Styling Start    --------------------------------------*/




@media screen and (max-width:767px) and (min-width:320px) {

	.tab {
    /* float: left; */
    border: none;
    background-color: #ffffff;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    padding: 15px 15px 15px 15px;
	}

.tabcontent {
    float: left;
    border-top: 1px solid #DBDBDB !important;
    width: 100%;
    
    padding: 30px 30px 30px 30px;
    background-color: #F5F5F5;
    border-radius: 0px 0px 16px 16px !important;
    margin-bottom: 30px;
	}


.password-form {
    padding-left: 10px;
    padding-right: 10px;
}

.review-chart-section {
    margin: 0px;
}


.sav-button {
    padding-top: 40px;
}

/*----------------------------------------   Profile Page Responsive Styling End   ------------------------------------------------*/



/*----------------------------------------   Order Page Responsive Styling Start   ------------------------------------------------*/

.placeholder-image-3 {
    width: 100%;
}

.order-time-est {
    WIDTH: 48% !important;
    display: inline-block;
}
.order-time.o-t {
    WIDTH: 48% !important;
    display: inline-block;
}
.order-time {
    width: 48% !important;
    display: inline-block;
}

.o-t {
    padding-bottom: 0px;
}
.est-time {
    padding-top: 15px;
}
.placeholder-text-3 {
    padding-top: 0%;
}
.placeholder-col-1 {
    display: flex;
    align-items: center;
}

.horirow {
    margin-top: 50px;

}

.btn.acceptorder {
    padding: 12px 15px;
    font-size: 16px;

}
aa.btn.rejectorder {
    padding: 12px 15px !important;
    font-size: 15px !important;
}
.rjct-btn {
    padding-left: 15px;
}

/*------------------------------------- Reviews Responsive Mobile Responsive Starts --------------------------------*/

.negative-review {
    margin-top: 20px;
}

.list-grid {
    margin-top: 20px;
}
.review-chart-section {
    margin: 0px;
}



/*------------------------------------- Reviews Responsive Mobile Responsive End --------------------------------*/
}






